  <a href="{{UrlPlanta}}">
    <div class="card shadow">
      <div class="card-header">
        <div class="media d-flex">
          <img src="../../../assets/img/planta.png" alt="" class="planta" />
          <h4>{{NombrePlanta}}</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="media d-flex">
          <div class="align-self-center">
            <img src="../../../assets/img/mapa.png" alt="" class="mapa" />
          </div>
          <div class="media-body text-left">
            <h5>{{Direccion}}</h5>
            <span>{{Barrio}}</span><br />
            <span>{{Municipio}}</span>
          </div>
        </div>
      </div>
    </div>
  </a>
